<% include partials/header %>
        <h1>Add people</h1>
        <form action="/" method="POST">
            <input placeholder= "add people" name="people">
            <button type="submit">submit</button>
            
        </form>
        <% people.forEach((person) => { %>
        <li>
            <%= person%>
            <form action="/?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
            </form>
        </li>
        <%})%>
        
<%include partials/footer%>