<% include partials/header %>

<div class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= studentData.name %></h5>
          <p class="card-text"><%= studentData.phone %></p>
          
        </div>
      </div>
</div>

<% include partials/footer %>